In [2]:
from sklearn.ensemble import RandomForestRegressor
from IPython.display import display

from sklearn import metrics

from pandas.api.types import is_string_dtype
from pandas.api.types import is_numeric_dtype

In [3]:
import pandas as pd
import numpy as np

import math

# Verimiz

https://www.kaggle.com/c/bluebook-for-bulldozers

In [4]:
path = "data/buldozers/"

In [5]:
df = pd.read_csv(f'{path}Train.csv', low_memory=False,
                parse_dates=["saledate"])

In [6]:
# dataFrame'i saledate kolonuna göre sıralı getirir. 

#df = df.sort_values(by="saledate")

In [7]:
df.head()

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,Undercarriage_Pad_Width,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls
0,1139246,66000.0,999089,3157,121,3.0,2004,68.0,Low,2006-11-16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
1,1139248,57000.0,117657,77,121,3.0,1996,4640.0,Low,2004-03-26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
2,1139249,10000.0,434808,7009,121,3.0,2001,2838.0,High,2004-02-26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1139251,38500.0,1026470,332,121,3.0,2001,3486.0,High,2011-05-19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1139253,11000.0,1057373,17311,121,3.0,2007,722.0,Medium,2009-07-23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# RMSLE

* Burada SalePrice sütununu RMSLE kullanarak tahmin etmeye çalışıyorum.

* y sütununun logoritmasını aldığımızda RMSLE gibi çalışır.

In [8]:
df["SalePrice"] = np.log(df.SalePrice)

* Direk aşağıdaki şekilde RMSLE'ye uydurmaya çalışırsak aşağıdaki hatayı alırız.

* Çünkü verinin içerisinde missing value'lar(girilmemiş değerler) var bu eksik değerlerin veriden temizlenmesi gerekir.


* Eğer veride Kategorik değişkenler olsaydı bunlarında sayısal hale dönüştürlmesi gerekiyordu.

In [9]:
# Direk bu şekilde RMSLE'ye uydurmaya çalışırsak aşağıdaki hatayı alırız.

#m = RandomForestRegressor(n_jobs = 1)
#m.fit(df.drop('SalePrice', axis=1), df.SalePrice)